# Files
*.log
/__debug*
/oran-o2ims
/bin/*
/catalog/*
/dev-tools/crd-watcher/bin
/dev-tools/crd-watcher/crd-watcher

# Folders
.idea/

# macOS auto generated
.DS_Store

# ginkgo generated binary
*.test

# ginkgo code coverage
coverprofile.out
