apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- manager.yaml

generatorOptions:
  disableNameSuffixHash: true

images:
- name: controller
  newName: quay.io/imihai/oran-o2ims-operator
  newTag: 4.16.0
