apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- manager.yaml
- env-config.yaml

generatorOptions:
  disableNameSuffixHash: true

images:
- name: controller
  newName: quay.io/openshift-kni/oran-o2ims-operator
  newTag: 4.18.0-poc.2503.0


# This replacement copies the controller image into the `IMAGE` environment variable of the pod,
# which is in turn used as the default value of the `--image` command line flag of the `start controller-manager`
# command. The net result is that the operator knows what its image is and can use it as the
# default for the servers.
replacements:
- source:
    fieldPath: spec.template.spec.containers.[name=manager].image
    kind: Deployment
    name: controller-manager
  targets:
  - fieldPaths:
    - spec.template.spec.containers.[name=manager].env.[name=^IMAGE$].value
    select:
      kind: Deployment
      name: controller-manager
- source:
    fieldPath: data.HWMGR_PLUGIN_NAMESPACE
    kind: ConfigMap
    name: env-config
  targets:
  - fieldPaths:
    - spec.template.spec.containers.[name=manager].env.[name=HWMGR_PLUGIN_NAMESPACE].value
    select:
      kind: Deployment
      name: controller-manager
- source:
    fieldPath: data.imagePullPolicy
    kind: ConfigMap
    name: env-config
  targets:
  - fieldPaths:
    - spec.template.spec.containers.[name=manager].imagePullPolicy
    select:
      kind: Deployment
      name: controller-manager
- source:
    fieldPath: data.imagePullPolicy
    kind: ConfigMap
    name: env-config
  targets:
  - fieldPaths:
    - spec.template.spec.containers.[name=manager].env.[name=IMAGE_PULL_POLICY].value
    select:
      kind: Deployment
      name: controller-manager
