apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "hardwaremanagement.oran.openshift.io/v1alpha1",
          "kind": "NodeAllocationRequest",
          "metadata": {
            "name": "cu-113d00a-22422",
            "namespace": "europe"
          },
          "spec": {
            "cloudID": "0f34b4cf-41a0-4b49-bcb3-9f2daebfbee7",
            "extensions": {
              "oran.acme.com/firmwareSettings": "{\n  \"MinProcIdlePower\": \"C6\"\n}\n",
              "oran.acme.com/firmwareVersions": "{\n  \"BigIron UEFI\": \"4.11\",\n  \"Intel(R) E810-XXVDA2\": \"2.50\"\n}\n",
              "oran.acme.com/model": "BigIron X42"
            },
            "location": "madrid"
          }
        },
        {
          "apiVersion": "hardwaremanagement.oran.openshift.io/v1alpha1",
          "kind": "NodeReleaseRequest",
          "metadata": {
            "name": "cu-113d00a-22422",
            "namespace": "europe"
          },
          "spec": {
            "cloudID": "0f34b4cf-41a0-4b49-bcb3-9f2daebfbee7",
            "nodeID": "acme-c3f64cf1-40c0-4324-b13a-40f22b0d16c5"
          }
        },
        {
          "apiVersion": "oran.openshift.io/v1alpha1",
          "kind": "DeploymentManagerOrder",
          "metadata": {
            "name": "cu-madrid",
            "namespace": "europe"
          },
          "spec": {
            "id": "cu-madrid",
            "location": "madrid",
            "template": "cu"
          }
        },
        {
          "apiVersion": "oran.openshift.io/v1alpha1",
          "kind": "DeploymentManagerTemplate",
          "metadata": {
            "name": "cu",
            "namespace": "europe"
          },
          "nodeProfiles": [
            {
              "extensions": {
                "oran.acme.com/firmwareSettings": "{\n  \"MinProcIdlePower\": \"C6\"\n}\n",
                "oran.acme.com/firmwareVersions": "{\n  \"BigIron UEFI\": \"4.11\",\n  \"Intel(R) E810-XXVDA2\": \"2.50\"\n}\n",
                "oran.acme.com/model": "BigIron X32",
                "oran.openshift.io/ocpVersion": "4.16.3"
              },
              "name": "low-power"
            },
            {
              "extensions": {
                "oran.acme.com/firmwareSettings": "{\n  \"MinProcIdlePower\": \"NoCStates\"\n}\n",
                "oran.acme.com/firmwareVersions": "{\n  \"BigIron UEFI\": \"4.11\",\n  \"Intel(R) E810-XXVDA2\": \"2.50\"\n}\n",
                "oran.acme.com/model": "BigIron X42"
              },
              "name": "high-throughhput"
            }
          ],
          "nodeSets": [
            {
              "name": "control-plane",
              "profile": "low-power",
              "size": 3
            },
            {
              "name": "workers",
              "profile": "high-throughput",
              "size": 1
            }
          ]
        },
        {
          "apiVersion": "oran.openshift.io/v1alpha1",
          "kind": "DeploymentManagerTemplate",
          "metadata": {
            "name": "du",
            "namespace": "europe"
          },
          "nodeProfiles": [
            {
              "extensions": {
                "oran.acme.com/firmwareSettings": "{\n  \"MinProcIdlePower\": \"NoCStates\"\n}\n",
                "oran.acme.com/firmwareVersions": "{\n  \"BigIron UEFI\": \"4.15\",\n  \"Intel(R) E810-XXVDA2\": \"2.50\"\n}\n",
                "oran.acme.com/model": "BigIron X42",
                "oran.openshift.io/ocpVersion": "4.16.3"
              },
              "name": "bi-x42"
            }
          ],
          "nodeSets": [
            {
              "name": "default",
              "profile": "bi-x42",
              "size": 1
            }
          ]
        },
        {
          "apiVersion": "oran.openshift.io/v1alpha1",
          "kind": "ORANO2IMS",
          "metadata": {
            "labels": {
              "app.kubernetes.io/created-by": "oran-o2ims",
              "app.kubernetes.io/instance": "orano2ims-sample",
              "app.kubernetes.io/managed-by": "kustomize",
              "app.kubernetes.io/name": "orano2ims",
              "app.kubernetes.io/part-of": "oran-o2ims"
            },
            "name": "sample",
            "namespace": "oran-o2ims"
          },
          "spec": {
            "cloudId": "f7fd171f-57b5-4a17-b176-9a73bf6064a4",
            "ingressHost": "o2ims.apps.global-hub.karmalabs.corp",
            "resourceServerConfig": {
              "enabled": false
            }
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.23.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
  name: oran-o2ims.v4.16.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: ClusterRequest
      name: clusterrequests.oran.openshift.io
      version: v1alpha1
    - kind: ClusterTemplate
      name: clustertemplates.oran.openshift.io
      version: v1alpha1
    - kind: DeploymentManagerOrder
      name: deploymentmanagerorders.oran.openshift.io
      version: v1alpha1
    - kind: DeploymentManager
      name: deploymentmanagers.oran.openshift.io
      version: v1alpha1
    - kind: DeploymentManagerTemplate
      name: deploymentmanagertemplates.oran.openshift.io
      version: v1alpha1
    - kind: NodeAllocationRequest
      name: nodeallocationrequests.hardwaremanagement.oran.openshift.io
      version: v1alpha1
    - kind: NodePool
      name: nodepools.hardwaremanagement.oran.openshift.io
      version: v1alpha1
    - kind: NodeReleaseRequest
      name: nodereleaserequests.hardwaremanagement.oran.openshift.io
      version: v1alpha1
    - kind: Node
      name: nodes.hardwaremanagement.oran.openshift.io
      version: v1alpha1
    - kind: ORANO2IMS
      name: orano2imses.oran.openshift.io
      version: v1alpha1
  description: Deploys the ORAN O2IMS services
  displayName: ORAN O2IMS Operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - namespaces
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - create
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - serviceaccounts
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - managedclusters
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - hardwaremanagement.oran.openshift.io
          resources:
          - nodepools
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - networking.k8s.io
          resources:
          - ingresses
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - oran.openshift.io
          resources:
          - clusterrequests
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - oran.openshift.io
          resources:
          - clusterrequests/finalizers
          verbs:
          - update
        - apiGroups:
          - oran.openshift.io
          resources:
          - clusterrequests/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - oran.openshift.io
          resources:
          - clustertemplates
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - oran.openshift.io
          resources:
          - clustertemplates/finalizers
          verbs:
          - update
        - apiGroups:
          - oran.openshift.io
          resources:
          - clustertemplates/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - oran.openshift.io
          resources:
          - orano2imses
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - oran.openshift.io
          resources:
          - orano2imses/finalizers
          verbs:
          - update
        - apiGroups:
          - oran.openshift.io
          resources:
          - orano2imses/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterrolebindings
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - siteconfig.open-cluster-management.io
          resources:
          - clusterinstances
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: oran-o2ims-controller-manager
      deployments:
      - label:
          app.kubernetes.io/component: manager
          app.kubernetes.io/created-by: oran-o2ims
          app.kubernetes.io/instance: controller-manager
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: deployment
          app.kubernetes.io/part-of: oran-o2ims
          control-plane: controller-manager
        name: oran-o2ims-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=0
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.15.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 5m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /usr/bin/oran-o2ims
                - start
                - controller-manager
                - --leader-elect
                env:
                - name: IMAGE
                  value: quay.io/openshift-kni/oran-o2ims-operator:4.16.0
                image: quay.io/openshift-kni/oran-o2ims-operator:4.16.0
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
              serviceAccountName: oran-o2ims-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: oran-o2ims-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - ORAN
  - O2IMS
  links:
  - name: Oran O2ims
    url: https://oran-o2ims.domain
  maintainers:
  - email: jhernand@redhat.com
    name: JuanHernandez
  - email: derez@redhat.com
    name: DanielErez
  - email: imihai@redhat.com
    name: IrinaMihai
  maturity: alpha
  provider:
    name: Red Hat
  version: 4.16.0
