---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- nonResourceURLs:
  - /hardware-manager/inventory/*
  verbs:
  - get
  - list
- nonResourceURLs:
  - /hardware-manager/provisioning/*
  verbs:
  - get
- nonResourceURLs:
  - /internal/v1/caas-alerts/alertmanager
  verbs:
  - create
  - post
- nonResourceURLs:
  - /o2ims-infrastructureCluster/v1/alarmDictionaries
  verbs:
  - get
  - list
- nonResourceURLs:
  - /o2ims-infrastructureCluster/v1/alarmDictionaries/*
  verbs:
  - get
- nonResourceURLs:
  - /o2ims-infrastructureCluster/v1/nodeClusterTypes
  verbs:
  - get
  - list
- nonResourceURLs:
  - /o2ims-infrastructureCluster/v1/nodeClusterTypes/*
  verbs:
  - get
- nonResourceURLs:
  - /o2ims-infrastructureCluster/v1/nodeClusters
  verbs:
  - get
  - list
- nonResourceURLs:
  - /o2ims-infrastructureCluster/v1/nodeClusters/*
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - agent-install.openshift.io
  resources:
  - agents
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - batch
  resources:
  - cronjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cluster.open-cluster-management.io
  resources:
  - managedclusters
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - clusterversions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - hwmgr-plugin.oran.openshift.io
  resources:
  - hardwaremanagers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - lcm.openshift.io
  resources:
  - imagebasedgroupupgrades
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - lcm.openshift.io
  resources:
  - imagebasedgroupupgrades/status
  verbs:
  - get
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - allocatednodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - allocatednodes/finalizers
  verbs:
  - patch
  - update
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - allocatednodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - hardwareplugins
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - hardwareplugins/finalizers
  verbs:
  - patch
  - update
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - hardwareplugins/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - hardwaretemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - hardwaretemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - nodeallocationrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - nodeallocationrequests/finalizers
  verbs:
  - patch
  - update
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - nodeallocationrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - o2ims-hardwaremanagement.oran.openshift.io
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - o2ims.oran.openshift.io
  resources:
  - inventories
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - o2ims.oran.openshift.io
  resources:
  - inventories/finalizers
  verbs:
  - update
- apiGroups:
  - o2ims.oran.openshift.io
  resources:
  - inventories/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - o2ims.provisioning.oran.org
  resources:
  - clustertemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - o2ims.provisioning.oran.org
  resources:
  - clustertemplates/finalizers
  verbs:
  - update
- apiGroups:
  - o2ims.provisioning.oran.org
  resources:
  - clustertemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - o2ims.provisioning.oran.org
  resources:
  - provisioningrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - o2ims.provisioning.oran.org
  resources:
  - provisioningrequests/finalizers
  verbs:
  - update
- apiGroups:
  - o2ims.provisioning.oran.org
  resources:
  - provisioningrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.openshift.io
  resources:
  - ingresscontrollers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - policy.open-cluster-management.io
  resources:
  - policies
  verbs:
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - siteconfig.open-cluster-management.io
  resources:
  - clusterinstances
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
